@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-cstm-white-smoke {
  background-color: #f3f3f3;
}

.bg-cstm-platinum {
  background-color: #e5e5e5;
}

.bg-cstm-platinum-hover {
  background-color: #e5e5e5;
}

.bg-cstm-platinum-hover:hover {
  background-color: #d8d8d8;
}

.bg-cstm-ghost-white {
  background-color: #f8f8ff;
}

.bg-cstm-onyx {
  background-color: #404040;
}

.bg-cstm-chili-red {
  background-color: #e03616;
}

.text-cstm-onyx {
  color: #404040;
}